In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for type in high_school_types:
    print(type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [7]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [8]:
import pandas as pd

In [9]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [11]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [13]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [15]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [43]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

# Create a dictionary of information on high schools.
high_schools_dict = {"School ID" : school_id, "School Name" : school_name, "Type" : type_of_school}

# Initialize a new DataFrame.
high_schools_dict_df = pd.DataFrame(high_schools_dict)
                               
# Print the DataFrame.
high_schools_dict_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [40]:
high_schools_dict_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [41]:
high_schools_dict_df.index

RangeIndex(start=0, stop=5, step=1)

In [42]:
high_schools_dict_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [46]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
 
type_of_school = ["District", "District", "Charter", "District","Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [54]:
# Initialize a new DataFrame.
high_school_df = pd.DataFrame(high_schools)

# Add the list to a new DataFrame.
high_school_df["School ID"] = school_id
high_school_df["School Name"] = school_name
high_school_df["Type"] = type_of_school

# Print the DataFrame.
high_school_df

                        0  School ID            School Name      Type
0       Huang High School          0      Huang High School  District
1    Figueroa High School          1   Figueroa High School  District
2     Shelton High School          2    Shelton High School   Charter
3   Hernandez High School          3  Hernandez High School  District
4     Griffin High School          4    Griffin High School   Charter
5      Wilson High School          5     Wilson High School   Charter
6     Cabrera High School          6    Cabrera High School   Charter
7      Bailey High School          7     Bailey High School  District
8      Holden High School          8     Holden High School   Charter
9        Pena High School          9       Pena High School   Charter
10     Wright High School         10     Wright High School   Charter
11  Rodriguez High School         11  Rodriguez High School  District
12    Johnson High School         12    Johnson High School  District
13       Ford High School         13       Ford High School  District
14     Thomas High School         14     Thomas High School   Charter

In [55]:
high_schools_df.index

RangeIndex(start=0, stop=15, step=1)

In [51]:
high_schools_df.values

array([['Huang High School', 0, 'Huang High School', 'District'],
       ['Figueroa High School', 1, 'Figueroa High School', 'District'],
       ['Shelton High School', 2, 'Shelton High School', 'Charter'],
       ['Hernandez High School', 3, 'Hernandez High School', 'District'],
       ['Griffin High School', 4, 'Griffin High School', 'Charter'],
       ['Wilson High School', 5, 'Wilson High School', 'Charter'],
       ['Cabrera High School', 6, 'Cabrera High School', 'Charter'],
       ['Bailey High School', 7, 'Bailey High School', 'District'],
       ['Holden High School', 8, 'Holden High School', 'Charter'],
       ['Pena High School', 9, 'Pena High School', 'Charter'],
       ['Wright High School', 10, 'Wright High School', 'Charter'],
       ['Rodriguez High School', 11, 'Rodriguez High School', 'District'],
       ['Johnson High School', 12, 'Johnson High School', 'District'],
       ['Ford High School', 13, 'Ford High School', 'District'],
       ['Thomas High School', 14, 'Thomas High School', 'Charter']],
      dtype=object)

In [52]:
high_schools_df.columns

Index([0, 'School ID', 'School Name', 'Type'], dtype='object')